* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.single-column {
    width: 50%;
    min-width: 500px;
    max-width: 1000px;
    margin: 0px auto;
    padding: 24px;
}

.light-container {
    background-color: lightpink;
    color: white;
}

.single-column {
    text-align: center;
}

.dark-container {
    background-color: darkcyan;
    color: white;
}

.light-container-2 {
    background-color: plum;
    color: white;
}