/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Generic License assignment.

    Good luck, and have fun!
*/
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CO:wght@100..400&display=swap');
#license {
    width: 700px;
    border: 3px solid black;
    border-radius: 24px;
    padding: 24px;
}
#left-side {
    display: inline-block;
    width: 65%;
}
#right-side {
    display: inline-block;
    width: 34%;
}
#id-and-expiration div {
    display: inline-block;
}
#small-pic-container {
    display: inline-block;
}
#small-pic-container img {
    width: 54px;
}
#data-fields {
    display: inline-block;
}
#data-left {
    display: inline-block;

}
#data-right {
    display: inline-block;
}
#signature {
    text-align: center;
}
#right-side img {
    width: 100%;
}
#donor {
    display: inline-block;
}
#real-id {
    display: inline-block;
}
h1 {
    color: darkblue;
}
h4 {
    color: white;
    background-color: darkblue;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 4px;
}
span {
    color: red;
}
#id-and-expiration div {
    color: blue;
}
#address {
    font-weight: bold;
}
#data-left div {
    color: blue;
}
#data-right div {
    color: blue;
}
#signature div {
    font-family: "Playwrite CO", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
