/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Generic License assignment.

    Good luck, and have fun!
*/
#license {
    width: 700px;
    border: 5px;
    border-radius: 5px;
    padding: 24px;
}
#left-side {
    display: inline-block;
    width: 65%;
}
#right-side {
    display: inline-block;
    width: 65%;
}
#id-and-expiration div {
    display: inline-block;
}
#small-pic-container {
    display: inline-block;
}
#data-fields {
    display: inline-block;
}
#data-left {
    display: inline-block;

}
#data-right {
    display: inline-block;
    width: 34%;
}
#signature {
    text-align: center;
}
#right-side {
    display: inline-block;
    width: 34%;
}
#left-side {
    display: inline-block;
    width: 34%;
}
#donor {
    display: inline-block;
}
#real-id {
    display: inline-block;
}
