* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

/* CARD SET UP */

.hover-gallery-1,
.hover-gallery-2,
.hover-gallery-3 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.card {
    flex: 300px;
    border: 3px solid black;
    margin: 24px;
    padding: 24px;
    border-radius: 12px;
    text-align: center;
}

.card a {
    text-decoration: none;
    color: black;
    display: block;
    border: 3px solid black;
    padding: 12px;
    margin-top: 36px;
}

/* HOVER STATES */

#card1:hover {
    background-color: #5bc0eb;
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
}


#card1 {
    transition: 
        background-color 0.5s,
        box-shadow 0.5s,
        transform 0.5s;
}

#card2:hover {
    background-color: #fde74c;
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
}

#card2 {
    transition: 
        background-color 0.5s,
        box-shadow 0.5s,
        transform 0.5s;
}

#card3:hover {
    background-color: #9bc53d;
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
}

#card3 {
    transition: 
        background-color 0.5s,
        box-shadow 0.5s,
        transform 0.5s;
}

#card4:hover {
    background-color: #c3423f;
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
}

#card4 {
    transition: 
        background-color 0.5s,
        box-shadow 0.5s,
        transform 0.5s;
}

#card5:hover {
    background-color: #79c7c5;
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
}

#card5 {
    transition: 
        background-color 0.5s,
        box-shadow 0.5s,
        transform 0.5s;
}

#card6:hover {
    background-color: #8f6593;
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
}

#card6 {
    transition: 
        background-color 0.5s,
        box-shadow 0.5s,
        transform 0.5s;
}

#card7:hover {
    background-color: #59ffa0;
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
}

#card7 {
    transition: 
        background-color 0.5s,
        box-shadow 0.5s,
        transform 0.5s;
}

#card8:hover {
    background-color: #cd8987;
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
}

#card8 {
    transition: 
        background-color 0.5s,
        box-shadow 0.5s,
        transform 0.5s;
}

#card9:hover {
    background-color: #e15a97;
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
}

#card9 {
    transition: 
        background-color 0.5s,
        box-shadow 0.5s,
        transform 0.5s;
}

/* HOVER BUTTONS */

#card1:hover a {
    background-color: white;
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
}

#card2:hover a {
    background-color: white;
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
}

#card3:hover a {
    background-color: white;
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
}

#card4:hover a {
    background-color: white;
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
}

#card5:hover a {
    background-color: white;
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
}

#card6:hover a {
    background-color: white;
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
}

#card7:hover a {
    background-color: white;
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
}

#card8:hover a {
    background-color: white;
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
}

#card9:hover a {
    background-color: white;
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
}