* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-image: url(../images/pool-2.jpg);
}

/* NAVBAR SETUP */

#navbar {
    background: linear-gradient(
        to bottom, 
        pink, 
        rgb(255, 130, 150)
    );
    display: flex;
    align-items: center;
}

#navbar a {
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar #logo {
    margin-right: auto;
}

#navbar #logo img {
    width: 250px;
}

/* HERO LAYOUT */

.spacer {
    height: 100vh;
}

#hero-2 {
    background-image: url("../images/pink-2.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: flex-end;
}

#hero-2 h2 {
    font-size: 8vw;
    margin-bottom: 5vh;
    margin-right: 5vw;
    color: white;
}

#hero-2 h4 {
    font-size: 3vw;
    margin: 0px 5vw 0px 0px;
    color: white;
}

#hero-2 a {
    font-size: 1.5vw;
    display: inline-block;
    background-color: crimson;
    color: white;
    text-decoration: none;
    padding: 24px;
    margin: 5vh 5vw 10vh 0px;
    border-radius: 15px;
}

/* CONTENT LAYOUT */

.center-column {
    width: 50%; 
    min-width: 500px;
    margin: 0px auto;
    background-color: whitesmoke;
    padding: 24px;
    margin-bottom: 24px;
    margin-top: 24px;
}

.center-column h1 {
    color: #ea526f;
    text-align: center;
}

.center-column h3 {
    color: #25ced1;
    font-size: 24px;
    text-align: center;
}

.center-column p {
    font-size: 20px;
}

/* FOOTER LAYOUT */

#footer {
    background: linear-gradient(
        to bottom, 
        pink, 
        rgb(255, 130, 150)
    );
    color: white;
    padding: 12px;
}

#footer a {
    text-decoration: none;
    color: white;
}

#footer-navbar {
    width: 800px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

/* SOCIALS PAGE */

.center-column-2 {
    width: 50%; 
    min-width: 500px;
    margin: 0px auto;
    background-color: whitesmoke;
    padding: 24px;
    margin-bottom: 24px;
    margin-top: 24px;
}

.center-column-2 h1 {
    color: #ea526f;
    text-align: center;
}

.center-column-2 a {
    text-decoration: none;
    color: #25ced1;
}