#first-paragraph {
    color: blue;
    background-color: goldenrod;
}

#second-paragraph {
   color: chocolate;
   background-color: darkblue;
}

#bold-paragraph {
    font-weight: bold;
    font-size: 24px;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-decoration: none;
}
#link {
    text-decoration: none;
    color: green;
}